#folder-tree {
}

#display-deck {
	background-color: window;
}

#thumbnailgrid-panel {
	-moz-binding: url(chrome://imagebrowser/content/viewers/thumbnailgrid/panel.xml#panel);
}

#thumbnailgrid-panel scrollbox {
	overflow-x: hidden;
	overflow-y: scroll;
}

#thumbnailgrid-panel thumbnail {
	-moz-binding: url(chrome://imagebrowser/content/viewers/thumbnailgrid/panel.xml#thumbnail);
}

#thumbnailgrid-panel vbox[anonid="container"] {
	padding: 5px 0px 5px 0px;
}
